@mixin tag-styles {
  position: absolute;
  color: var(--color2);
  font-size: var(--tag-size);
  font-family: "La Belle Aurore", cursive;
}

.page {
  width: calc(100% - var(--sidebar-width));
  height: 100%;
  position: absolute;
  right: 0;
}

.tags {
  @include tag-styles;
  left: 50px;
}

.top-tag-body {
  top: 50px;
}

.bottom-tag-body {
  bottom: 50px;
}

.bottom-tag-html {
  bottom: 20px;
  margin-left: -25px;
}

.container {
  will-change: contents;
  width: 100%;
  height: 82%;
  min-height: fit-content;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s 1s forwards;

  .text-zone {
    position: absolute;
    inset: 50% 0 0 7.5%;
    transform: translateY(-50%);
    width: 40%;
    height: fit-content;
  }

  h1 {
    font-size: var(--heading-size);
    line-height: var(--heading-size);
    font-family: "Coolvetica";
    font-weight: 400;
    white-space: nowrap;

    &:before {
      content: "<h1>";
      @include tag-styles;
      left: -15px;
      margin-top: -40px;
      animation: fadeIn 1s 1s backwards;
    }

    &:after {
      content: "</h1>";
      @include tag-styles;
      margin-top: 30px;
      animation: fadeIn 1s 0.5s backwards;
    }
  }
}
