.home-container {
  h1 {
    color: var(--color5);

    &:after {
      margin-top: initial;
    }

    img {
      margin: 0 0 -25px 20px;
      width: 110px;
      animation: rotateIn 0.25s linear 2.75s both;
    }
  }

  h2 {
    color: var(--color3);
    margin-top: 20px;
    font: 400 15px sans-serif;
    letter-spacing: 3px;
    white-space: nowrap;
    animation: fadeIn 1.5s 1.8s backwards;
  }

  .flat-button {
    border: 1px solid var(--color4);
    padding: 10px 18px;
    margin-top: 25px;
    color: var(--color4);
    font: 400 15px sans-serif;
    letter-spacing: 4px;
    text-decoration: none;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;

    &:hover {
      background: var(--color4);
      color: var(--color1);
    }
  }

  #colored-letter-home {
    color: var(--color4);
  }
}
