$nav-color: var(--color3);
$icon-size: 37px;
$icon-color: var(--color1);
$icon-active-color: var(--color5);

@mixin icon-text($text) {
  &:after {
    content: $text;
  }
}

.nav-container,
nav,
.external-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 17px;

  svg {
    color: $icon-color;
  }
}

nav a,
.external-links a {
  height: 50px;
  font-size: $icon-size;
  color: $icon-color;
}

.nav-container {
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 3;
  height: 100%;
  min-height: fit-content;

  background: $nav-color;
  width: var(--sidebar-width);

  .logo {
    display: block;
    margin-top: 20px;

    img {
      display: block;
      margin: 0 auto;
      width: 85%;

      &.logo-subtitle {
        margin-top: 2px;
      }
    }
  }

  nav {
    position: absolute;
    inset: 50% 0 0 50%;
    transform: translate(-50%, -50%);
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font: bold $icon-size "Helvetica Neue", sans-serif;
      line-height: 50px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.33s ease-out;
      }

      &:hover {
        color: $icon-active-color;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: "";
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
      }

      &:first-child {
        @include icon-text("HOME");
      }
    }

    a.about-link {
      @include icon-text("ABOUT");
    }

    a.projects-link {
      @include icon-text("PROJECTS");
    }

    a.contact-link {
      @include icon-text("CONTACT");
    }

    a.active {
      svg {
        color: $icon-active-color;
      }
    }
  }

  .external-links {
    align-items: center;
    margin-bottom: 20px;

    a {
      line-height: 50px;

      &:hover {
        .anchor-icon {
          color: $icon-active-color;
        }
      }
    }
  }
}

.hamburger-icon,
.close-icon {
  display: none;
  color: var(--color5);
}
